{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget.html.twig' %}

{% block page_product_detail_buy_inner %}
    <div class="product-detail-buy js-magnifier-zoom-image-container">
        {% block page_product_detail_rich_snippets %}
            {% block page_product_detail_rich_snippets_brand %}
                {% if page.product.manufacturer %}
                    <meta itemprop="brand"
                          content="{{ page.product.manufacturer.translated.name }}"/>
                {% endif %}
            {% endblock %}

            {% block page_product_detail_rich_snippets_gtin13 %}
                {% if page.product.ean %}
                    <meta itemprop="gtin13"
                          content="{{ page.product.ean }}"/>
                {% endif %}
            {% endblock %}

            {% block page_product_detail_rich_snippets_mpn %}
                <meta itemprop="mpn"
                      content="{{ page.product.productNumber }}"/>
            {% endblock %}

            {% block page_product_detail_rich_snippets_weight %}
                {% if page.product.weight %}
                    <meta itemprop="weight"
                          content="{{ page.product.weight }} kg"/>
                {% endif %}
            {% endblock %}

            {% block page_product_detail_rich_snippets_height %}
                {% if page.product.height %}
                    <meta itemprop="height"
                          content="{{ page.product.height }} mm"/>
                {% endif %}
            {% endblock %}

            {% block page_product_detail_rich_snippets_width %}
                {% if page.product.width %}
                    <meta itemprop="width"
                          content="{{ page.product.width }} mm"/>
                {% endif %}
            {% endblock %}

            {% block page_product_detail_rich_snippets_depth %}
                {% if page.product.length %}
                    <meta itemprop="depth"
                          content="{{ page.product.length }} mm"/>
                {% endif %}
            {% endblock %}

            {% block page_product_detail_rich_snippets_release_date %}
                <meta itemprop="releaseDate"
                      content="{{ page.product.releaseDate|format_date(pattern="Y-MM-dd", locale=app.request.locale) }}"/>
            {% endblock %}
        {% endblock %}

        {% block page_product_detail_not_available %}
            {#TODO: NEXT-2784 - product not available message#}
        {% endblock %}

        {% set hidePricesConfig = config('ASHideProductPrices') %}
        {% set showPrices = false %}
        {% set break = false %}
        {% for customerGroupID in hidePricesConfig.config.allowedCustomerGroups %}
            {% if not break %}
                {% if (customerGroupID == context.currentCustomerGroup.id) %}
                    {% set showPrices = true %}
                    {% set break = true %}
                {% endif %}
            {% endif %}
        {% endfor %}
        
        {% block page_product_detail_buy_container %}
            <div itemprop="offers"
                 itemscope
                 itemtype="{% if page.product.calculatedPrices|length > 1 %}http://schema.org/AggregateOffer{% else %}http://schema.org/Offer{% endif %}">
                {% block page_product_detail_data %}
                    {% block page_product_detail_data_rich_snippet_url %}
                        {{ parent() }}
                    {% endblock %}

                    {% block page_product_detail_data_rich_snippet_price_range %}
                        {{ parent() }}
                    {% endblock %}

                    {% block page_product_detail_data_rich_snippet_price_currency %}
                        {{ parent() }}
                    {% endblock %}

                    {% block page_product_detail_price %}
                        {% if hidePricesConfig.config.active %}  
                            {% if showPrices %} 
                                {{ parent() }}
                            {% endif %}
                        {% else %}
                            {{ parent() }}
                        {% endif %}
                    {% endblock %}

                    {% block page_product_detail_tax %}
                        {% if hidePricesConfig.config.active %}  
                            {% if showPrices %} 
                                {{ parent() }}
                            {% endif %}
                        {% else %}
                            {{ parent() }}
                        {% endif %}
                    {% endblock %}

                    {% set remoteClickOptions = {
                        selector: "#review-tab",
                        scrollToElement: true
                    } %}

                    {% block page_product_detail_reviews %}
                        {{ parent() }}
                    {% endblock %}

                    {% block page_product_detail_delivery_informations %}
                        {{ parent() }}
                    {% endblock %}
                {% endblock %}

                {% block page_product_detail_configurator_include %}
                    {% if hidePricesConfig.config.active %}  
                        {% if showPrices %} 
                            {{ parent() }}
                        {% endif %}
                    {% else %}
                            {{ parent() }}
                    {% endif %}
                {% endblock %}

                {% block page_product_detail_buy_form %}
                    {{ parent() }}
                    {# {% if hidePricesConfig.config.active %}
                        {% if showPrices %} 
                            {{ parent() }}
                        {% endif %}
                    {% else %}
                            {{ parent() }}
                    {% endif %}#}
                {% endblock %}
            </div>
        {% endblock %}

        {% block page_product_detail_ordernumber_container %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}
